.col{
<<<<<<< HEAD
		background-color: #bb8fce;
}

.logophoto
{
	        border-radius: 50%;
  			width: 70px;
  			height: 70px;
  			margin-top: 10px;
  			margin-left: 20px;
}

=======
}
>>>>>>> 77e5e6172fb4a59b5f02a13de629b9240e956bb9
